*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    background-color: #1A1244;
    justify-content: space-between;
    padding: 10px 200px;
    border-bottom: 4px solid #401E63;
    /* Nav bar ta sticky korar jonno */
    position: sticky;
    top: 0;
}
nav div{
    color: white;
    font-size: 20px;
}
#logo-click{
    text-decoration: none;
    color: white;
}
nav ul{
    display: flex;
    
}
nav ul li{
    list-style: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    padding: 10px 20px;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    padding: 10px 20px;
    border-radius: 5px;
}

/* main area form */



form{
    background-color: lightpink;
    width: 800px;
    margin: 80px auto;
    justify-content: center;
    padding: 40px 0;
    box-shadow: 10px 10px 10px 10px gray;
}
form h2{
    text-align: center;
    margin-bottom: 20px;
}
.name-email-parent input{
    display: block;
    border: none;
    width: 400px;
    height: 25px;
    margin: 20px auto;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 17px;
}
form textarea{
    display: block;
    margin: 30px auto;
    width: 400px;
    height: 150px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
}
/* button */
form > input{
    color: white;
    display: block;
    margin: 50px auto 0 auto;
    font-size: 20px;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    /* multiple color background */
    background: linear-gradient(to right, blue, blueviolet,aqua);
}